.link {
  fill: none;
  stroke: silver;
  stroke-width: 1.5px;
}

.link.dataset {
  stroke: green;
  stroke-opacity: 0.5;
}

.link.column {
  stroke: silver;
  stroke-dasharray: 0,2 1;
  /*stroke-dasharray: 5, 1;*/
}

.link.datasize {
  stroke: blue;
  stroke-opacity: 0.5;
  /*stroke-dasharray: 0,2 1;*/
}

.link.numrecords {
  stroke: purple;
  stroke-opacity: 0.5;
  /*stroke-dasharray: 0,2 1;*/
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.link-label {
  fill: grey;
  font-family: 'Roboto Mono', monospace;
  /*font-size: 9px;  */
  /*font-weight: bold;*/
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

text {
  fill: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  /*font-weight: bold;*/
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
}

div {
  font-family: 'Roboto Mono', monospace;
}

.button {
  background-color: skyblue; 
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

textarea {
  font-size: 14px;
  width: 80%;
  height: 15  0px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=text] {
  font-size: 14px;
  width: 10%;
  padding: 5px 10px;
  margin: 2px 0;
  box-sizing: border-box;
}